body{
  /*background: gray;*/
  background: url(https://tse1.mm.bing.net/th/id/OIP.mtoKZUwo3lftgMXQc-2cHgAAAA?w=266&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3);
}

p{
  color:black;
}
span{
  background: red;
  color: black;
}
.myDiv{
  background: rgba(0,0,255,0.5); /* blue with 50% opacity */
}
.divClass{
 background: blue;
  border: orange;
  border-width: thick; /* 10 px */
  border-style: dotted;}

#gr{
  background: green;
  color: white;
}
